@charset "utf-8";

/* 기본서식 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

body{
    font-family: "Noto Sans Kr", "맑은고딕" , Arial, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
    /* 가로스크롤 나오지 않게 */
}
a{
    text-decoration: none;
}
